@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@import url("https://fonts.cdnfonts.com/css/source-serif-pro");
@import url("https://fonts.cdnfonts.com/css/questrial");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  scrollbar-gutter: stable;
}

body {
  background: #ecbf8c;
  min-height: 100vh;
  position: relative;
}

::selection {
  background: #be613f;
  color: #101010;
}

html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 100px;
}

html::-webkit-scrollbar-track {
  background: #202020;
}

.animated-text {
  transform: translateY(115px);
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.text-dark {
  @apply text-[#101010];
}
