@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background: #f0f0f0;
  color: #f8fafc;
  min-height: 100vh;
  position: relative;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 100px;
}

html::-webkit-scrollbar-track {
  background: #202020;
}

.text-dark {
  @apply text-[#101010];
}
