.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  border-radius: 0.25em;
  outline: none;
  height: 20px;
  width: 28px;
  border: none;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.hamburger:before,
.hamburger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #101010;
  transition: all 250ms ease-out;
  will-change: transform;
}

.hamburger:before {
  transform: translateY(-3px);
}

.hamburger:after {
  transform: translateY(3px);
}

.active.hamburger:before {
  transform: translateY(0) rotate(45deg);
}

.active.hamburger:after {
  transform: translateY(0) rotate(-45deg);
}

.menu-close p {
  color: #101010;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100lvh;
  max-height: 100lvh;
  padding: 3em;
  background: #101010;
  z-index: 50;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.menu-close-icon {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  width: max-content;
}

.menu-copy {
  flex: 1;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 6em;
}

.menu-preview {
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-close-icon p {
  font-size: 100px;
  line-height: 70%;
}

.menu-link-item {
  width: max-content;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

#active {
  will-change: transform;
  transition: all 0.5s;
}

#active:hover {
  letter-spacing: 0.03em;
}

#active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -105%;
  transform: translateY(-50%);
  background: #b13911;
  width: 100%;
  height: 8px;
  z-index: 50;
  transition: all 0.5s;
}

#active:hover::after {
  left: 0;
}

.menu-info {
  display: flex;
}

.menu-info-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .menu-copy {
    padding-top: 9em;
  }

  .menu-overlay {
    padding: 1.5em;
  }

  .menu-link-item-holder a {
    font-size: 60px;
  }
}
