.logo {
  display: flex;
  cursor: pointer;
  p {
    margin: 0px;
    transition: all 0.5s cubic-bezier(0.1, 0, 0.24, 1);
  }
  .name {
    display: flex;
    font-size: 22px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    font-family: "source serif pro", serif;
    white-space: nowrap;
    color: #101010;
    transition: all 0.5s cubic-bezier(0.1, 0, 0.24, 1);
    p {
      position: relative;
      transition: transform 0.5s cubic-bezier(0.1, 0, 0.24, 1);
      &:nth-of-type(2) {
        padding-left: 0.3em;
      }
      &:nth-of-type(3) {
        position: absolute;
        left: 200px;
        padding-left: 0.3em;
      }
    }
  }
  &:hover {
    .name {
      padding-right: 35px;
      .leonardo {
        transform: translateX(-220px);
      }
      .parisi {
        transform: translateX(-220px);
      }
      .role {
        transform: translateX(-100%);
      }
    }
  }
}
